#addperson {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgb(212, 221, 77);
}

body {
  background-image: url(../Images/castle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.putting {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgb(212, 221, 77);
}
#chance {
  text-align: center;
  font-style: italic;
  color: rgb(250, 246, 8);
}

#heading {
  text-align: center;
  color: rgb(250, 246, 8);
}

#chances {
  text-align: center;
  font-style: italic;
  color: rgb(250, 246, 8);
}

#headings {
  text-align: center;
  color: rgb(250, 246, 8);
}
